.Logger{
    background-color: white;
    width: 300px;
    height: 50px;
    border-radius: 12px;
    border:none;
}

.Logger::placeholder{
    color: black;
    font-weight: bolder;
    opacity: 0.5;
}

.Logger:focus .Logger::placeholder{
    opacity: 0;
}

.Logger-button{
    border-radius: 5px;
    background-color: violet;
    width: 80px;
    height: 30px;
    border:none;  
}
.Logger-button:hover{
    background-color: lightblue;
}
.log iframe{
    justify-content: center;
    background: lightpink;
    position: relative;
    top: 90px;
    width: 400px;
    height: 500px;
    margin: 0 auto;
}
iframe{
    display: grid;
}
p {
    color:black ;
    font-weight: 800;
}

p a:hover{
    color: red;
}

.msg {
    color: brown;
}

div {
    color: black;
}